<div
  class="rounded-lg relative bg-gray-10 bg-no-repeat bg-center bg-cover shadow-inner-xl"
  [style.height]="height + 'px'"
  [style.background-image]=" images.length ? 'url(' + images[currentImageIndex] + ')' : ''">
  @if(images.length > 1) {
  <button class="absolute left-1 top-1/2 -translate-y-1/2" (click)="previous()">
    <i class="material-icons text-white">arrow_back_ios_new</i>
  </button>

  <button class="absolute right-1 top-1/2 -translate-y-1/2" (click)="next()">
    <i class="material-icons text-white">arrow_forward_ios_new</i>
  </button>
  } @if(editMode && images.length) {
  <button
    class="absolute right-0 top-0 translate-y-1/2 -translate-x-1/2"
    (click)="deleteClick.emit(images[currentImageIndex])">
    <i class="material-icons text-white">delete</i>
  </button>
  }
</div>
