<app-auth-form
  title="Вхід"
  subtitle="З поверненням. Ми раді знову бачити тебе в нашому сервісі">
  <ng-container formFields>
    <app-form-field
      label="Ім'я або Email"
      placeholder="myemail@example.com"
      [control]="emailOrUsername"></app-form-field>
    <app-form-field
      label="Пароль"
      placeholder="******"
      type="password"
      [control]="password"></app-form-field>
  </ng-container>
  <ng-container actions>
    <app-button class="w-full" [disabled]="form.invalid" (clicked)="submit()">
      Продовжити
    </app-button>
    <a
      class="text-secondary-buttons text-gray-70 hover:cursor-pointer"
      [routerLink]="'/sign-up'">
      Я ще не маю акаунта
    </a>
  </ng-container>
</app-auth-form>
