<app-auth-form
  title="Реєстрація"
  [subtitle]="step === 1 ? 'Заповніть поля нижче, вказавши Ім`ям та Emale, це допоможе нам в майбутньому звязатися з тобою' : 'Заповніть поля нижче, придумавши пароль та повторивши його для безпеки вашого акаунту'"
  [errors]="[]"
  [step]="step">
  <ng-container upperAction>
    <button
      [disabled]="step === 1"
      class="text-secondary-buttons text-gray-80 w-fit flex items-center disabled:invisible"
      (click)="step = 1">
      <i class="material-icons">arrow_back_ios_new</i> Повернутися назад
    </button>
  </ng-container>
  <ng-container formFields>
    @if (step === 1) {
    <app-form-field
      label="Твоє ім'я"
      placeholder="Ярослав"
      [control]="username"
      [errors]="usernameErrors"></app-form-field>
    <app-form-field
      label="Твій Email"
      placeholder="myemail@example.com"
      [control]="email"
      [errors]="emailErrors"></app-form-field>
    } @else {
    <app-form-field
      label="Придумай пароль"
      placeholder="********"
      type="password"
      [control]="password"
      [errors]="passwordErorrs"></app-form-field>
    <app-form-field
      label="Повтори пароль"
      placeholder="********"
      type="password"
      [control]="passwordConfirm"
      [errors]="passwordConfirmErrors"></app-form-field>
    }
  </ng-container>
  <ng-container actions>
    <app-button
      class="w-full"
      (clicked)="submit()"
      [disabled]="step === 1 ? username.invalid || email.invalid : password.invalid || passwordConfirm.invalid">
      {{step === 1 ? 'Продовжити' : 'Створити аккаунт' }}
    </app-button>
    <a
      class="text-secondary-buttons text-gray-70 hover:cursor-pointer"
      [routerLink]="'/sign-in'">
      Я вже маю акаунт!
    </a>
  </ng-container>
</app-auth-form>
