<div class="flex flex-col gap-6">
  <div class="flex justify-between items-center">
    <h4 class="text-h3 text-gray-80">Лоти</h4>
    <button
      class="bg-primary-100 text-white text-buttons rounded-md px-6 py-2"
      [routerLink]="'/new'">
      Створити свій слот
    </button>
  </div>
  @if (lots$ | async; as lots) {
  <div class="flex flex-col gap-6">
    <div class="flex flex-row gap-8">
      <app-search-box class="w-full" [control]="searchTerm"></app-search-box>
      <app-filter-box [group]="filters"></app-filter-box>
      <app-sort-box [group]="sort"></app-sort-box>
    </div>
    <div
      class="grid grid-cols-2 2xl:grid-cols-3 min-[2200px]:grid-cols-4 gap-x-8 gap-y-12 items-top">
      @for (lot of lots; track $index) {
      <app-lot-card [lot]="lot"></app-lot-card>
      } @empty {
      <div class="col-span-2 text-center text-body text-gray-60">
        Лоти не знайдено
      </div>
      }
    </div>
  </div>
  @if (pages$ | async; as pages) { @if (pages.length > 1) {
  <div class="flex mt-auto justify-center gap-9 items-baseline">
    @if (pagination.value.page !== 0) {
    <button
      class="text-gray-80"
      (click)="pageClicked(pagination.value.page! - 1)">
      <i class="material-icons">arrow_back_ios_new</i>
    </button>
    } @for(page of pages; track $index) {
    <button
      class="text-h4"
      [class]="pagination.value.page === page ? 'text-gray-80' : 'text-gray-30'"
      (click)="pageClicked(page)">
      {{ page + 1 }}
    </button>
    } @if (pagination.value.page !== pages.length - 1) {
    <button
      class="text-gray-80"
      (click)="pageClicked(pagination.value.page! + 1)">
      <i class="material-icons">arrow_forward_ios_new</i>
    </button>
    }
  </div>
  } } }
</div>
