<router-outlet />
<div class="m-4">
  <h1 class="text-h1">H1 - Text, Текст</h1>
  <h2 class="text-h2">H2 - Text, Текст</h2>
  <h3 class="text-h3">H3 - Text, Текст</h3>
  <h4 class="text-h4">H4 - Text, Текст</h4>
  <h5 class="text-h5">H5 - Text, Текст</h5>
  <p class="text-body">Body text - Text, Текст</p>
  <p class="text-secondary">Secondary text - Text, Текст</p>
  <p class="text-buttons">Buttons - Text, Текст</p>
  <p class="text-secondary-buttons">Secondary text - Text, Текст</p>

  <div class="flex flex-wrap mt-10 gap-3">
    <div>
      <div class="w-60 h-60 bg-primary-100"></div>
      <p class="text-body">Primary 100</p>
    </div>
    <div>
      <div class="w-60 h-60 bg-primary-90"></div>
      <p class="text-body">Primary 90</p>
    </div>
    <div>
      <div class="w-60 h-60 bg-primary-80"></div>
      <p class="text-body">Primary 80</p>
    </div>
    <div>
      <div class="w-60 h-60 bg-green"></div>
      <p class="text-body">Green</p>
    </div>
    <div>
      <div class="w-60 h-60 bg-red"></div>
      <p class="text-body">Red</p>
    </div>
    <div>
      <div class="w-60 h-60 bg-yellow"></div>
      <p class="text-body">Yellow</p>
    </div>
    <div>
      <div class="w-60 h-60 bg-white border border-gray-80"></div>
      <p class="text-body">White</p>
    </div>
    <div>
      <div class="w-60 h-60 bg-gray-10"></div>
      <p class="text-body">Gray 10</p>
    </div>
    <div>
      <div class="w-60 h-60 bg-gray-20"></div>
      <p class="text-body">Gray 20</p>
    </div>
    <div>
      <div class="w-60 h-60 bg-gray-30"></div>
      <p class="text-body">Gray 30</p>
    </div>
    <div>
      <div class="w-60 h-60 bg-gray-40"></div>
      <p class="text-body">Gray 40</p>
    </div>
    <div>
      <div class="w-60 h-60 bg-gray-60"></div>
      <p class="text-body">Gray 60</p>
    </div>
    <div>
      <div class="w-60 h-60 bg-gray-70"></div>
      <p class="text-body">Gray 70</p>
    </div>
    <div>
      <div class="w-60 h-60 bg-gray-80"></div>
      <p class="text-body">Gray 80</p>
    </div>
  </div>
</div>
